.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.searchProduct {
    position: absolute;
    top: 5px;
    right: 3.5em;
    border-bottom: 1px solid #0691FB;
    padding: 0 8px;
}

.search-input {
    position: absolute;
    top: 0;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 18px 16px;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.search-input::placeholder {
    color: transparent;
}

.search-input:focus::placeholder {
    color: #fff;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
    background-color: #1A2647;
    outline: 2px solid #0691FB;
    color: #fff;
    width: 300px;
    cursor: none;
    padding: 18px 16px 18px 25px;
}

.search-product-icon {
    position: absolute;
    right: 20px;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 10px;
    z-index: -1;
    fill: #0691FB;
}

.search-input:focus+.search-product-icon,
.search-input:not(:placeholder-shown)+.search-product-icon {
    z-index: 0;
    background-color: transparent;
    border: none;
}